.new-incidents {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Alinha horizontalmente ao centro */
}

.new-incidents .content {
  width: 100%;
  padding: 96px;
  background-color: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-incidents .content section {
  width: 100%;
  max-width: 380px;
}
.new-incidents .content section h1 {
  margin: 64px 0 10px;
  font-size: 32px;
}
.new-incidents .content section p {
  font-size: 20px;
  margin-right: 10px;
  color: #737380;
  line-height: 30px;
}
.new-incidents .content form {
  width: 100%;
  max-width: 450px;
}
.new-incidents .content input {
  margin-top: 8px;
}
